@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root{
  --primary-color: #067BC2;
  --primary-color-darker: #13262F;
  --primary-color-clear: #42E2B8;
  --secundary-color-clear: #ED474A;
  --clear-color: #E9E6FF;
}

*{
  box-sizing: border-box;
  outline: 0;
}

html{
  font-size: 62.5%;
} 

body{
  margin: 0;
  padding: 0;
  background: var(--primary-color-darker);
  font-family: 'Rubik', sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--primary-color);
}

.container{
  max-width: 60rem;
  margin: 5rem auto;
  background: var(--clear-color);
  padding: 3rem;
  border-radius: 0.2rem;
  box-shadow: 0.8rem 0.8rem var(--primary-color);
}

form input, form label, form button{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

form input{
  margin-bottom: 2rem;
  font-size: 2rem;
  height: 5rem;
  padding: 0 2rem;

}

form input::placeholder{
  font-size: 1.8rem;
}

form button{
  border: 0.3rem solid #067ac278;
  color: var(--primary-color);
  font-size: 2.5rem;
  height: 6rem; 
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 300ms ease-in-out; 
} 

button:hover{
  background: var(--primary-color);
  color: var(--clear-color);
}

.header{
  text-align: center;
  margin: 3rem 0 3rem 0;
  font-size: 4rem;
  color: var(--primary-color-darker);
}

.mensagem-valida{
  background-color: rgba(22, 228, 80, 0.315);
  padding: 1.2rem 2rem;
  color: black;
  text-align: center;
}

.mensagem-nao-valida{
  background-color: rgba(253, 88, 88, 0.412);
  padding: 1.2rem 2rem;
  text-align: center;
  color: black;
}

.table-imc, .table-result{
  text-align: left;
}

.container-table{
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
}