@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

:root{
  --white: rgb(255, 255, 255);
  --primary-color-darker: rgb(13, 152, 180);
}

*{
  box-sizing: border-box;
  outline: 0;
}

body{
  margin: 0;
  padding: 0;
  background: var(--white);
  font-family: 'Rubik', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container{
  border: 1px solid;
  max-width: 640px;
  margin: 50px auto;
  background: var(--width);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 12px 12px 20px rgb(61, 210, 255);
}

form input, form label, form button{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input{
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input::placeholder{
  font-size: 20px;
}

form input:focus{
  outline: 1px solid var(--white);
}

form button{
  border: none;
  background: rgb(61, 210, 255);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}

form button:hover{
  background: var(--primary-color-darker);
}

.mensagem-valida{
  background-color: rgba(0, 255, 255, 0.343);
  padding: 10px 20px;
}

.mensagem-nao-valida{
  background-color: rgba(253, 88, 88, 0.412);
  padding: 10px 20px;
}

table{
  border-collapse: collapse;
}

table td, table th{
  text-align: left;
}

.table-1{
  padding-right: 200px;
}